{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How many balls can you juggle?
      </h1>
{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "england",
      text: "3 or more"
    },
    {
      value: "scotland",
      text: "1 or 2"
    },
    {
      value: "wales",
      text: "None - I cannot juggle"
    }
  ]
}) }}

      <form class="form" action="/juggling-trick" method="post">

  

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
